---
import { getCollection } from "astro:content";
import Link from "../../components/Link.astro";
import Nav from "../../components/Nav.astro";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/formatDate";

const notes = await getCollection("notes");
notes.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout
  title="notes"
  description="notes collection written by @nulladdict on different frontend or web related topics"
>
  <Nav nvim="~/notes/index.astro" />
  <article class="flex flex-col gap-4 px-4 md:px-8">
    <h1>my notes on different frontend or web related topics</h1>
    <main>
      <ol reversed start={notes.length} class="flex list-inside list-decimal flex-col gap-1">
        {
          notes.map((note) => (
            <li>
              <h2 class="inline">
                <Link href={`/notes/${note.id}/`}>{note.data.title}</Link>
              </h2>
              ({formatDate(note.data.date)})
            </li>
          ))
        }
      </ol>
    </main>
  </article>
</Layout>
