---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="not found">
  <article class="flex h-full flex-col items-center justify-center gap-2">
    <h1 class="text-8xl text-pink-400">404</h1>
    <aside class="text-2xl">Not found</aside>
    <Link href="/" class="text-xl"><kbd>&lt;esc&gt;:qa!</kbd></Link>
  </article>
</Layout>
