---
import Link from "../components/Link.astro";
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="roman" description="@nulladdict (roman nevolin)">
  <Nav />
  <article class="flex flex-col gap-2 px-4 md:px-8">
    <h1 class="text-3xl font-medium">hi! i'm roman nevolin</h1>
    <aside class="font-light italic">
      also known as <em class="font-sans font-normal not-italic">@nulladdict</em> on the web
    </aside>
    <main>
      <p>frontend developer, we(e)b enthusiast, and music consumer</p>
    </main>
    <footer>
      if you want to reach out check my
      <Link href="https://github.com/nulladdict">github</Link>
      or hit me up on
      <Link href="https://twitter.com/nulladdict">twitter</Link>
    </footer>
  </article>
</Layout>
