---
import "./layout.css";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description?: string | undefined;
}
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scheme-light dark:scheme-dark" transition:animate="initial">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/roman.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/roman-apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#fff" />
    {description ? <meta name="description" content={description} /> : null}
    <title>{title} — @nulladdict</title>
    <script>
      if (import.meta.env.MODE === "production" && "serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker.js");
      }
    </script>
    <ClientRouter fallback="none" />
  </head>
  <body class="font-serif">
    <slot />
  </body>
</html>
